@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  font-family: 'Inter', sans-serif;
}

header > nav > button {
  padding: .5em 1.5em;
}

.main-svg > img {
  height: 20em;
  width: auto;
}
header > nav {
  color: #2f2e41;
  cursor: pointer;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main-section > .first {
  width: 70%;
  display: flex;
  color: #FE5F55;
  font-size: 1.6em;
}
.btn-input-wrapper {
  margin-top: 4em;
  border-radius: 10px;
  width: auto;
  height: auto;
}
.generate-button {
  position: relative !important;
  top: 3.8em;
  left: calc(100% - 5.4em);
  border-radius: 10px;
  height: 3.5em;
  z-index: 9999;
}
.main-section > .btn-input-wrapper > input {
  padding: 1em 1em;
  color: #53687E;
  width: 100%;
  border-radius: 10px;
  font-size: 1.3em;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  box-sizing: border-box;
  border: none;
}
.main-section { 
  height: fit-content;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5em 10rem;
}
header {
  align-items: center;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  padding: 1em 10rem;
}
header > img {
  height: 3em;
  width: auto;
}

body {
  background-color: #D6D1B1;
}
.primary:hover {
  transition: .1s all ease-in;
  background-color: #af443d;
}
.primary {
  background-color: #FE5F55;
  transition: .1s all ease-out;
}
.secondary:hover {
  text-decoration: underline;
}
.main-heading {
  padding: 0;
  width: 100%;
}
.oauth2 > h3 {
  text-align: left;
  font-size: 1em;
  font-weight: 600;
  color: #53687E;
}
p > a:hover {
  text-decoration: underline;
}
.login-window > h1 {
  font-weight: 600;
  color: #53687E;
}
.hidden {
  visibility: hidden;
}
.error-msg {
  text-align: left;
  padding: 0;
  color: red;
  font-weight: 400;
  margin: 0;
}
p > a {
  margin-left: .25em;
  text-decoration: none;
  color: #14080E;
}
.oauth2 > hr, form > hr {
  width: 100%;
  border: solid .01px #53687E;
  border-radius: 10px;
}
.scope-list {
  padding: 0;
  width: 100%;
  margin: 0;
  list-style-type: none;
  text-align: left;
}
.scope-list > li {
  padding: .3em 0;
  color: #FE5F55;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}
.scope-list > li > span {
  font-size: 1.4em;
}
.main-heading > p {
  font-size: .8em;
  color: #53687E;
}
.main-heading > h2 {
  font-size: 1em;
  color: #FE5F55;
  font-weight: 400;
}
.main-heading > h1 {
  color: #FE5F55;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}
.main-heading > p {
  justify-self: flex-start;
  text-align: left;
  align-self: flex-start;
}
.oauth2-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
}
.smaller-h3 {
  font-size: .75em !important;
}
.oauth2 > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.oauth2 > form > input{
    margin: .5em 0;
    font-family: 'Inter',sans-serif;
    font-size: 1.3em;
    padding: .5em;
    outline: none;
    border: none;
    -webkit-appearance: none;
    border-radius: 8px;
    border: solid 1px #FE5F55;
}
.secondary {
  background-color: #EEF5DB;
  color: #FE5F55;
}
button, input[type=submit] {
  -webkit-appearance: none;
  font-weight: 400;
  outline: none;
  border: none;
  background-color: #FE5F55;
  font-size: 1.1em;
  border-radius: 5px;
  padding: .25em .5em;
  cursor: pointer;
  color: #EEF5DB;
}
.btns {
  margin-top: 2em;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}
.absolute-logo {
  top: 1.5em;
  left: 2em;
  cursor: pointer;
  position: absolute;
  height: 3em;
  width: auto;
}
.oauth2 {
  -webkit-box-shadow: 0px 0px 39px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 39px -12px rgba(0,0,0,0.75);
box-shadow: 0px 0px 39px -12px rgba(0,0,0,0.75);
  padding: 1.5em 2em;
  box-sizing: border-box;
  display: flex;
  width: 30%;
  background-color: #EEF5DB;
  border-radius: 10px;
  flex-direction: column;
  gap: 0px;
  height: fit-content;
  align-items: center;
  text-align: center;
}
.mobile-nav {
  display: none;
}
.acc-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .25em;
}
@media (max-width: 900px){
  .mobile-nav {
    display: flex;
  }
  .btn-input-wrapper {
    margin-top: 0em;
  }
  header > .pc-nav {
    display: none;
  }
  header {
    padding: 2em 1em;
  }

  .main-section {
    padding: 0em 1em;
    gap: 0;
    height: fit-content;
  }
  .main-section > .first {
    width: 90% !important;
  }
  .oauth2-wrapper {
    height: 90vh;
  }
  .oauth2 {
    width: 100%;
  }
  .absolute-logo {
    left: .5em;
    top: .5em;
  }
}